*{
    margin:0;
    padding: 0;
}
.mark {
    width: 300px;
    height: 200px;
    border: 2px solid pink;
    border-radius: 7px;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
ul li {
    list-style: none;
}
.title {
    border-bottom: 2px solid pink;
    margin-top: 0;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.content .btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.sure,
.cancel {
    width: 60px;
    line-height: 35px;
    border-radius: 50px;
    border: 2px solid pink;
    margin-left: -20px;
}